$def with(free_one, free_two, free_three, free_four, free_five, free_six, free_seven, free_eight, free_nine, free_ten, image_one, image_two, image_three, image_four, image_five, image_six, image_seven, image_eight, image_nine, image_ten)

</style>

<head>
  <link rel="shortcut icon" type="image/x-icon" href="static/psychbear_logo.jpg"
</head>

<body>
The Current Free Champions
</br>
$free_one <img src=$image_one>
</br>
$free_two <img src=$image_two>
</br>
$free_three <img src=$image_three>
</br>
$free_four <img src=$image_four>
</br>
$free_five <img src=$image_five>
</br>
$free_six <img src=$image_six>
</br>
$free_seven <img src=$image_seven>
</br>
$free_eight <img src=$image_eight>
</br>
$free_nine <img src=$image_nine>
</br>
$free_ten <img src=$image_ten>
</body>
</html>
