$def with(free_one, free_two, free_three, free_four, free_five, free_six, free_seven, free_eight, free_nine, free_ten, free_eleven, free_twelve, free_thirteen, free_fourteen, free_fifteen, free_sixteen, free_seventeen, free_eighteen, free_nineteen, free_twenty, image_one, image_two, image_three, image_four, image_five, image_six, image_seven, image_eight, image_nine, image_ten, image_eleven, image_twelve, image_thirteen, image_fourteen, image_fifteen, image_sixteen, image_seventeen, image_eighteen, image_nineteen, image_twenty)

</style>

<head>
  <link rel="shortcut icon" type="image/x-icon" href="static/psychbear_logo.jpg"
</head>

<body>
The Current Free Champions
</br>
$free_one <img src=$image_one>
</br>
$free_two <img src=$image_two>
</br>
$free_three <img src=$image_three>
</br>
$free_four <img src=$image_four>
</br>
$free_five <img src=$image_five>
</br>
$free_six <img src=$image_six>
</br>
$free_seven <img src=$image_seven>
</br>
$free_eight <img src=$image_eight>
</br>
$free_nine <img src=$image_nine>
</br>
$free_ten <img src=$image_ten>
</br>
$free_eleven <img src=$image_eleven>
</br>
$free_twelve <img src=$image_twelve>
</br>
$free_thirteen <img src=$image_thirteen>
</br>
$free_fourteen <img src=$image_fourteen>
</br>
$free_fifteen <img src=$image_fifteen>
</br>
$free_sixteen <img src=$image_sixteen>
</br>
$free_seventeen <img src=$image_seventeen>
</br>
$free_eighteen <img src=$image_eighteen>
</br>
$free_nineteen <img src=$image_nineteen>
</br>
$free_twenty <img src=$image_twenty>
</br>
</body>
</html>
